<angular-loader></angular-loader>
<h1>Angular 2 and Redux simplified</h1>
<p><a href="https://medium.com/@ivan.radunovic/angular-2-with-redux-using-ngrx-store-2f93a8ad0dd#.b2qpbwoht">Original Medium Article</a></p>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">CampaignComponent</h3>
      </div>
      <div class="panel-body">
        <campaigns></campaigns>
      </div>
    </div>
  </div>

    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">CampaignCountComponent</h3>
        </div>
        <div class="panel-body">
          <campaign-count></campaign-count>
        </div>
      </div>
    </div>
</div>

